fastapi==0.136.1
uvicorn==0.46.0
python-multipart==0.0.26
python-dotenv==1.2.2
openai==1.107.0
assemblyai
deep-translator==1.11.4
httpx==0.28.1
supabase==2.29.0
cryptography==46.0.1
librosa==0.11.0
numpy==2.4.4
soundfile==0.13.1
pydantic==2.13.3
requests==2.33.1
PyJWT==2.12.1
